services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTgres_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: gunicorn assured_farming.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A assured_farming worker -l info
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  celery-beat:
    build: .
    command: celery -A assured_farming beat -l info
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
