Django>=4.2
djangorestframework
drf-spectacular
django-environ
djangorestframework-simplejwt
django-cors-headers
whitenoise
gunicorn
psycopg2-binary
dj-database-url
django-storages     # optional if using S3
python-dotenv       # optional
celery              # if you're using celery in prod
redis               # if you rely on redis client in prod
python-json-logger  # optional (if you used it locally)
django-filter>=23.1
